body {
  font-family: Arial, sans-serif;
  background-color: #f8f1e8;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.form label {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
}

.form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 16px;
}

.form button {
  background-color: #ac8181;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  
}

.success-message {
  background-color: #e8f3e8;
  padding: 30px;
  border-radius: 5px;
  margin-top: 30px;
  color: #006400;
}
