<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuario</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- enlaza el archivo JavaScript de Vue.js desde un CDN (Content Delivery Network) externo. 
  Vue.js es necesario para ejecutar el código JavaScript en la página. -->
  <link rel="stylesheet" href="estilos.css">
</head>
<body>
  <div id="app">
    <!--El evento @submit está vinculado al método submitForm en el código JavaScript.-->
    <form @submit="submitForm" class="form">
       <center> <h2> Formulario Vue.js</h2> </center>
      <label for="name">Nombre:</label>
     <!-- El atributo v-model establece una conexión 
      bidireccional entre el valor del campo de entrada y la variable name en el código JavaScript.-->
      <input type="text" id="name" v-model="name" required>
      <label for="email">Email:</label>
      <input type="email" id="email" v-model="email" required>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" v-model="password" required>
      <label for="confirm-password">Confirmar Contraseña:</label>
      <input type="password" id="confirm-password" v-model="confirmPassword" required>
      <button type="submit">Registrarse</button> 
    </form>
   <!-- un contenedor condicional que se mostrará si la variable submitted es verdadera. 
    El contenido dentro de este contenedor se muestra solo después de enviar el formulario.-->
    <div v-if="submitted" class="success-message">
      <h2>¡Registro Exitoso!</h2>
      <p>Nombre: {{ name }}</p>
      <p>Email: {{ email }}</p>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>
